body {
  background-color: green;
}

#simbol,
#simbol2 {
  font-size: 100px;
}
#card {
  font-size: 120px;
}
#simbol2 {
  transform: rotate(180deg);
}

.box {
  margin: auto;
  background-color: white;
  width: 480px;
}

.red {
  color: red;
}
.black {
  color: black;
}
